/* Navbar (Sidebar) */
.navbar {
    width: 260px;
    background: #e5e7eb;
    padding: 20px;
    min-height: 100vh;
}

.nav-logo {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 30px;
}

.nav-menu a {
    display: flex;
    align-items: center;
    gap: 12px;
    padding: 12px;
    margin-bottom: 10px;
    text-decoration: none;
    color: #334155;
    border-radius: 8px;
    transition: 0.3s;
}

.nav-menu a:hover,
.nav-menu a.active {
    background: #38bdf8;
    color: #ffffff;
}